.article-card {
  background-color: #f7f6f2;
  padding: 10px;
  text-align: justify;
}

.comments-card {
  background-color: #f7f6f2;
  border: solid 1px;
  margin-top: 20px;
}

.comments-card > .card-body {
  padding: 0;
}
