@media only screen and (min-width: 768px) {
  .row {
    text-align: end;
  }

  .username-label {
    text-align: end;
  }
}

#header {
  background-color: #e74308;
  text-align: center;
}

#header > .row {
  height: 10vh;
}

.site-name {
  color: #f7f6f2;
  text-decoration: none;
}
a.site-name :active {
  color: #f7f6f2;
  text-decoration: none;
}
a.site-name :visited {
  color: #f7f6f2;
  text-decoration: none;
}
a.site-name :hover {
  color: gray;
  text-decoration: none;
}
