.home > .row {
  height: 85vh;
}

#main {
  background-image: url("../img/mainBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-color: #f7f6f2;
}

#footer > .nav {
  flex-direction: column;
  justify-content: flex-end;
}
